# 한국환경공단 대기오염정보

## 한국환경공단_측정소정보 

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000660

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList'
params = '?' + 'ServiceKey=' + skey + '&' + \
          urlencode({quote_plus('tmX') : '244148.546388',
                     quote_plus('tmY') : '412423.75772',
                     quote_plus('ver') : '1.0' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['addr'] = item.find('addr').text
  item_dict['tm'] = item.find('tm').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/MsrstnInfoInqireSvc/getNearbyMsrstnList?ServiceKey=crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D&tmX=244148.546388&tmY=412423.75772&ver=1.0

                                   addr stationName   tm
0  제주 서귀포시 대정읍 동일하모로149번길 21-8대정청소년 수련관         대정읍  0.0
1    부산 동구 충장대로 314자성대부두(관공선부두) 내 (좌천동)        부산북항  0.0
2                    제주 제주시 한경면 고산리3762         고산리  0.0

## 한국환경공단_대기오염정보

* https://data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15000581

### 측정소별 실시간 측정정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
          urlencode({ quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
                      quote_plus('stationName') : '종로구', quote_plus('dataTerm') : 'DAILY',
                      quote_plus('ver') : '1.3' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm10Value24'] = item.find('pm10Value24').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?ServiceKey=crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D&numOfRows=10&pageNo=1&stationName=%EC%A2%85%EB%A1%9C%EA%B5%AC&dataTerm=DAILY&ver=1.3

  coGrade coValue          dataTime  ... pm25Value24 so2Grade so2Value
0       1     0.3  2020-08-25 15:00  ...          21        1    0.004
1       1     0.3  2020-08-25 14:00  ...          23        1    0.004
2       1     0.3  2020-08-25 13:00  ...          25        1    0.004
3       1     0.3  2020-08-25 12:00  ...          26        1    0.004
4       1     0.4  2020-08-25 11:00  ...          28        1    0.004
5       1     0.5  2020-08-25 10:00  ...          27        1    0.004
6       1     0.4  2020-08-25 09:00  ...          26        1    0.004
7       1     0.4  2020-08-25 08:00  ...          26        1    0.003
8       1     0.5  2020-08-25 07:00  ...          25        1    0.003
9       1     0.5  2020-08-25 06:00  ...          25        1    0.004

[10 rows x 20 columns]

### 시도별 실시간 측정정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty'
params = '?' + 'ServiceKey=' + skey + '&' + \
          urlencode({ quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
                      quote_plus('sidoName') : '인천', quote_plus('ver') : '1.3' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['stationName'] = item.find('stationName').text
  item_dict['mangName'] = item.find('mangName').text
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm10Value24'] = item.find('pm10Value24').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  item_dict['pm25Value24'] = item.find('pm25Value24').text
  item_dict['khaiValue'] = item.find('khaiValue').text
  item_dict['khaiGrade'] = item.find('khaiGrade').text
  item_dict['so2Grade'] = item.find('so2Grade').text
  item_dict['coGrade'] = item.find('coGrade').text
  item_dict['o3Grade'] = item.find('o3Grade').text
  item_dict['no2Grade'] = item.find('no2Grade').text
  item_dict['pm10Grade'] = item.find('pm10Grade').text
  item_dict['pm25Grade'] = item.find('pm25Grade').text
  item_dict['pm10Grade1h'] = item.find('pm10Grade1h').text
  item_dict['pm25Grade1h'] = item.find('pm25Grade1h').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty?ServiceKey=crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%9D%B8%EC%B2%9C&ver=1.3

  coGrade coValue          dataTime  ... so2Grade so2Value stationName
0       1     0.3  2020-08-25 15:00  ...        1    0.005          신흥
1       1     0.5  2020-08-25 15:00  ...        1    0.004          서해
2       1     0.5  2020-08-25 15:00  ...        1    0.004          송림
3       1     0.3  2020-08-25 15:00  ...        1    0.004         구월동
4       1     0.3  2020-08-25 15:00  ...        1    0.004          숭의
5       1     0.4  2020-08-25 15:00  ...        1    0.005         석바위
6       1     0.4  2020-08-25 15:00  ...        1    0.006         부평역
7       1     0.7  2020-08-25 15:00  ...        1    0.003          남동
8       1     0.4  2020-08-25 15:00  ...        1    0.005          부평
9    None       -  2020-08-25 15:00  ...     None        -          연희

[10 rows x 21 columns]

### 시도별 실시간 평균정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst'
params = '?' + 'ServiceKey=' + skey + '&' + \
          urlencode({ quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
                     quote_plus('itemCode') : 'PM10',  quote_plus('dataGubun') : 'HOUR',
                     quote_plus('searchCondition') : 'MONTH' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['itemCode'] = item.find('itemCode').text
  item_dict['dataGubun'] = item.find('dataGubun').text
  item_dict['seoul'] = item.find('seoul').text
  item_dict['busan'] = item.find('busan').text
  item_dict['daegu'] = item.find('daegu').text
  item_dict['incheon'] = item.find('incheon').text
  item_dict['gwangju'] = item.find('gwangju').text
  item_dict['daejeon'] = item.find('daejeon').text
  item_dict['ulsan'] = item.find('ulsan').text
  item_dict['gyeonggi'] = item.find('gyeonggi').text
  item_dict['gangwon'] = item.find('gangwon').text
  item_dict['chungbuk'] = item.find('chungbuk').text
  item_dict['chungnam'] = item.find('chungnam').text
  item_dict['jeonbuk'] = item.find('jeonbuk').text
  item_dict['jeonnam'] = item.find('jeonnam').text
  item_dict['gyeongbuk'] = item.find('gyeongbuk').text
  item_dict['gyeongnam'] = item.find('gyeongnam').text
  item_dict['jeju'] = item.find('jeju').text
  item_dict['sejong'] = item.find('sejong').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureLIst?ServiceKey=crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D&numOfRows=10&pageNo=1&itemCode=PM10&dataGubun=HOUR&searchCondition=MONTH

  busan chungbuk chungnam daegu daejeon  ... jeonbuk jeonnam sejong seoul ulsan
0    61       18       24    29    None  ...      25      32     18    27    61
1    56       20       25    31    None  ...      24      31     21    25    56
2    55       21       27    28    None  ...      25      32     24    25    59
3    51       28       28    33    None  ...      28      35     26    26    53
4    40       37       30    38    None  ...      31      37     27    31    45
5    32       39       34    40    None  ...      33      36     30    33    30
6    29       37       37    41      34  ...      36      33     33    38    30
7    27       34       38    39      28  ...      35      31     35    37    27
8    22       33       39    33      30  ...      31      31     36    39    23
9    22       33       37    30      29  ...      31      31     35    37    22

[10 rows x 20 columns]

### 시군구별 실시간 평균정보 조회

In [ ]:
from urllib.request import Request, urlopen
from urllib.parse import urlencode, quote_plus
from xml.etree import ElementTree
import pandas as pd

skey = 'crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D'

url = 'http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst'
params = '?' + 'ServiceKey=' + skey + '&' + \
          urlencode({ quote_plus('numOfRows') : '10', quote_plus('pageNo') : '1',
                      quote_plus('sidoName') : '서울', quote_plus('searchCondition') : 'DAILY' })
print(url + params)

request = Request(url + params)
request.get_method = lambda: 'GET'
response_body = urlopen(request).read()
#print(response_body)

root = ElementTree.fromstring(response_body)

df = pd.DataFrame()
for item in root.iter('item'):
  item_dict = {}
  item_dict['dataTime'] = item.find('dataTime').text
  item_dict['cityName'] = item.find('cityName').text
  item_dict['so2Value'] = item.find('so2Value').text
  item_dict['coValue'] = item.find('coValue').text
  item_dict['o3Value'] = item.find('o3Value').text
  item_dict['no2Value'] = item.find('no2Value').text
  item_dict['pm10Value'] = item.find('pm10Value').text
  item_dict['pm25Value'] = item.find('pm25Value').text
  df = df.append(item_dict, ignore_index=True)

df

http://openapi.airkorea.or.kr/openapi/services/rest/ArpltnInforInqireSvc/getCtprvnMesureSidoLIst?ServiceKey=crc%2FlWi6vrE%2BSqINyCZza2oF2mn0YET3A1EV5Rl3OION0X71d0C8BMhrhL0PkJMESoz61l246P4M8k%2BJyzOotw%3D%3D&numOfRows=10&pageNo=1&sidoName=%EC%84%9C%EC%9A%B8&searchCondition=DAILY

  cityName coValue          dataTime  ... pm10Value pm25Value so2Value
0      강남구     0.3  2020-08-25 15:00  ...        27        21    0.003
1      강동구     0.2  2020-08-25 15:00  ...        23        20        -
2      강북구     0.3  2020-08-25 15:00  ...        42        26    0.003
3      강서구     0.3  2020-08-25 15:00  ...        28        20    0.005
4      관악구     0.2  2020-08-25 15:00  ...        26        15    0.003
5      광진구     0.3  2020-08-25 15:00  ...        26        18    0.004
6      구로구     0.2  2020-08-25 15:00  ...        20        11    0.003
7      금천구       -  2020-08-25 15:00  ...         -         -        -
8      노원구     0.3  2020-08-25 15:00  ...        28        19    0.003
9      도봉구     0.2  2020-08-25 15:00  ...        25        22    0.003

[10 rows x 8 columns]